<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>398286042325-bv4ajt6jg1r9bhuh3l5rtre1gf4omnd6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.398286042325-bv4ajt6jg1r9bhuh3l5rtre1gf4omnd6</string>
	<key>API_KEY</key>
	<string>AIzaSyA9bx2S7bRaZBQce3SxASiHd4KboNVNVu4</string>
	<key>GCM_SENDER_ID</key>
	<string>398286042325</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.practice.wiljan.Task-chennai</string>
	<key>PROJECT_ID</key>
	<string>chennaitask-d0cce</string>
	<key>STORAGE_BUCKET</key>
	<string>chennaitask-d0cce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:398286042325:ios:41f262d845792cbf7f5e5c</string>
</dict>
</plist>